@font-face
  font-family: Ext_Bl
  src: url(fonts/Black_Extended.woff2)

@font-face
  font-family: Ext_Rg
  src: url(fonts/Extended_Regular.woff2)

@font-face
  font-family: Rg
  src: url(fonts/Regular.woff2)




$font-nav: 'Ext_Bl', sans-serif
$font-nav-2: 'Ext_Rg', sans-serif
$font-text: 'Rg', sans-serif



*
  margin: 0
  padding: 0
  font: 100% $font-nav



body
  background-color: white
