@media only screen and (max-width: 540px) {
  body {
    visibility: visible; } }

@media only screen and (min-width: 540px) and (max-width: 768px) {
  body {
    visibility: visible; } }

@media only screen and (min-width: 2000px) {
  body {
    visibility: visible; } }
