@font-face {
  font-family: Exp_Bl;
  src: url(fonts/Black_Expanded.woff2); }

@font-face {
  font-family: Ext_Rg;
  src: url(fonts/Extended_Regular.woff2); }

@font-face {
  font-family: Rg;
  src: url(fonts/Regular.woff2); }

* {
  margin: 0;
  padding: 0;
  font: 100% "Exp_Bl", sans-serif; }

a {
  text-decoration: none;
  color: black; }

body .overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0; }
  body .overlay--active {
    animation: fadeIn 1s 1; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 0.5; } }

body main {
  height: 100vh;
  width: 100vw;
  position: absolute;
  left: 0;
  top: 0; }
  body main.animate-up {
    transform: translateY(0);
    animation: menuUp 0.5s forwards; }
  body main.animate-down {
    transform: translateY(-40vh);
    animation: menuDown 0.3s forwards; }

@keyframes menuUp {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(-40vh); } }

@keyframes menuDown {
  0% {
    transform: translateY(-40vh); }
  100% {
    transform: translateY(0); } }
  body main nav.nav {
    position: absolute;
    display: flex;
    width: 100vw;
    align-items: center;
    flex-direction: column; }
    body main nav.nav--top {
      top: 0; }
      body main nav.nav--top h1 {
        letter-spacing: -0.03em;
        margin-bottom: -.1em;
        font-size: 6em; }
        body main nav.nav--top h1:hover {
          visibility: visible; }
        body main nav.nav--top h1 a {
          cursor: default; }
    body main nav.nav--bottom {
      font-size: 0.9em;
      bottom: 1em; }

#projects-container-async {
  z-index: 1000;
  background: white;
  min-width: 100vw;
  min-height: 100vh; }
  #projects-container-async #async-content {
    min-height: 100vh;
    transform: translateY(100vh); }
    #projects-container-async #async-content #new-projects {
      font-size: 10em;
      text-align: center;
      background: white;
      width: 100vw;
      height: 400vh; }
    #projects-container-async #async-content .project-overlay {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -10;
      width: 100vw;
      height: 100vh;
      background-color: black;
      opacity: 0; }
      #projects-container-async #async-content .project-overlay--activated {
        z-index: 1000;
        animation: fadeOut 0.3s 1; }

@keyframes fadeOut {
  0% {
    opacity: 0; }
  100% {
    opacity: 0.5; } }
  #projects-container-async .animate-in {
    animation: slideIn 0.5s forwards; }
  #projects-container-async .animate-out {
    animation: slideOut 0.3s forwards; }

@keyframes slideIn {
  0% {
    transform: translateY(100vh); }
  100% {
    transform: translateY(0); } }

@keyframes slideOut {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(100vh); } }
  #projects-container-async #async-content nav.nav {
    position: absolute;
    display: flex;
    width: 100vw;
    align-items: center;
    flex-direction: column; }
    #projects-container-async #async-content nav.nav--top {
      width: 100%;
      position: fixed;
      top: 0.5em;
      font-size: 0.9em; }
      #projects-container-async #async-content nav.nav--top h1 {
        margin-bottom: -.1em;
        font-size: 6em; }
        #projects-container-async #async-content nav.nav--top h1:hover {
          visibility: visible; }
        #projects-container-async #async-content nav.nav--top h1 a {
          cursor: default; }
    #projects-container-async #async-content nav.nav--bottom {
      bottom: 1em; }
  #projects-container-async #async-content #new-projects {
    padding-top: 10vh; }
    #projects-container-async #async-content #new-projects .box {
      width: 45vw;
      float: left;
      margin: 10px;
      height: 50vh;
      background: black; }
