@font-face {
  font-family: Gramatika;
  src: url(fonts/GramatikaRegular.woff); }

@font-face {
  font-family: Gramatika_Italic;
  src: url(fonts/GramatikaSlanted.woff); }

@font-face {
  font-family: Gramatika_Bold;
  src: url(fonts/GramatikaBold.woff); }

@font-face {
  font-family: Gramatika_Bold_Italic;
  src: url(fonts/GramatikaBoldSlanted.woff); }

.cube__face--front {
  transform: rotateY(0deg) translateZ(100px); }

.cube__face--right {
  transform: rotateY(90deg) translateZ(100px); }

.cube__face--back {
  transform: rotateY(180deg) translateZ(100px); }

.cube__face--left {
  transform: rotateY(-90deg) translateZ(100px); }

.cube__face--top {
  transform: rotateX(90deg) translateZ(100px); }

.cube__face--bottom {
  transform: rotateX(-90deg) translateZ(100px); }

* {
  margin: 0;
  padding: 0; }

i {
  font: 100% "Gramatika_Bold_Italic", sans-serif !important; }

body {
  font: 100% "Gramatika_Bold", sans-serif;
  background-color: white;
  color: black;
  width: 100vw;
  position: relative;
  overflow-x: hidden; }
  body main {
    height: 200vh;
    width: 100vw; }
    body main.cover-page-main {
      height: 100%;
      overflow-y: hidden; }
    body main nav {
      display: flex;
      position: fixed;
      top: 0;
      left: 0; }
      body main nav.cover-page {
        background-color: white;
        height: 100vh;
        width: 100vw; }
      body main nav section.about {
        color: #00ff00; }
        body main nav section.about h1 {
          font-size: 2.2vw; }
          body main nav section.about h1 span.to-right {
            display: inline-block;
            float: right;
            font-style: italic; }
        body main nav section.about_left {
          width: 28vw; }
          body main nav section.about_left h1 {
            margin: 30px 0  0 15px; }
    body main section.about_right {
      position: fixed;
      right: 0;
      top: 0;
      width: auto;
      z-index: 100; }
      body main section.about_right h1 {
        float: right;
        margin: 30px 15px  0 0;
        cursor: default;
        font-size: 2.2vw; }
      body main section.about_right section.about_info {
        top: 30px;
        width: 50vw;
        display: none;
        position: absolute;
        right: 16vw; }
        body main section.about_right section.about_info p {
          font-size: 2.2vw;
          letter-spacing: .02em;
          z-index: 200; }
          body main section.about_right section.about_info p.first::first-letter {
            color: transparent;
            float: left;
            font-size: 2.2em;
            margin: .6em 1.5em 0 0; }
          body main section.about_right section.about_info p a {
            text-decoration: underline;
            cursor: pointer;
            color: blue; }
        body main section.about_right section.about_info.in_view {
          display: block; }
        body main section.about_right section.about_info span.close {
          font-size: 2.2vw;
          width: 30px;
          height: 30px;
          cursor: pointer;
          position: absolute;
          top: 0;
          left: 0; }

body main img.hi-2-u {
  position: fixed; }
  body main img.hi-2-u-right {
    bottom: 0;
    right: 00vw;
    width: 350px;
    display: none;
    z-index: 0; }
  body main img.hi-2-u-left {
    top: 60vh;
    left: 5vw;
    width: 15vw; }
  body main img.hi-2-u.in_view {
    display: block; }

body main section.document {
  padding-top: 12vw;
  margin-left: 45vw; }
  body main section.document_covered {
    height: 100vh;
    overflow-y: scroll; }
  body main section.document .project {
    margin-bottom: 30px;
    width: 40vw; }
    body main section.document .project h3 {
      font-size: .9em; }
      body main section.document .project h3:nth-child(1) {
        color: blue;
        cursor: alias;
        text-decoration: underline; }
      body main section.document .project h3:nth-child(3) {
        color: blue;
        text-decoration: underline; }
      body main section.document .project h3 a {
        cursor: alias; }
        body main section.document .project h3 a:visited {
          text-decoration: none;
          color: blue; }
    body main section.document .project p {
      font-size: .9em;
      margin-top: 10px;
      width: 100%;
      margin-bottom: 10px; }
    body main section.document .project .element {
      height: auto; }
      body main section.document .project .element .vimeo {
        width: 100%;
        height: auto;
        margin-bottom: 5px; }
      body main section.document .project .element video {
        width: 100%;
        height: auto;
        margin-bottom: 5px; }
      body main section.document .project .element a img {
        cursor: alias; }
      body main section.document .project .element a video {
        cursor: alias; }
      body main section.document .project .element video {
        min-height: 30vh; }
      body main section.document .project .element img {
        width: 100%;
        min-height: 30vh;
        height: auto;
        margin-bottom: 5px; }

main div.back {
  position: fixed;
  left: 45vw;
  top: 30px;
  font-size: 2.2vw; }
  main div.back a {
    cursor: pointer;
    color: blue;
    text-decoration: underline; }

main section.document-project {
  padding-top: 12vw;
  margin-left: 30vw; }
  main section.document-project_covered {
    height: 100vh;
    overflow-y: scroll; }
  main section.document-project .project {
    margin-bottom: 30px;
    width: calc(58vw); }
    main section.document-project .project h3 {
      font-size: .9em; }
      main section.document-project .project h3:nth-child(1) {
        color: black;
        cursor: default;
        text-decoration: underline; }
      main section.document-project .project h3:last-of-type {
        cursor: default; }
      main section.document-project .project h3 a {
        color: black;
        cursor: default; }
        main section.document-project .project h3 a:visited {
          text-decoration: none;
          color: black; }
    main section.document-project .project p {
      font-size: .9em;
      margin-top: 10px;
      width: 100%;
      margin-bottom: 10px; }
      main section.document-project .project p a {
        color: blue; }
    main section.document-project .project .element {
      height: auto; }
      main section.document-project .project .element .vimeo {
        width: 100%;
        height: auto;
        margin-bottom: 5px; }
      main section.document-project .project .element video {
        width: 100%;
        height: auto;
        margin-bottom: 5px;
        min-height: 30vh; }
      main section.document-project .project .element img {
        width: 100%;
        height: auto;
        min-height: 30vh;
        margin-bottom: 5px; }

.vp-center {
  justify-content: flex-start !important; }
